<!DOCTYPE html>
<html lang="en">
  <head>
    <meta chartset="utf-8">
    <title>Haiku</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  <head>
  <body>
    <div id="wrapper" class="hidden">
      <header>
        <nav>
          <a href=/writers>Writers<hr class="<%= nav1 %>"></a>
          <a href=/make>Make<hr class="<%= nav2 %>"></a>
          <a href="/">Home<hr class="<%= nav3 %>"></a>
          <a href="/history">History<hr class="<%= nav4 %>"></a>
          <a href="/inspiration">Inspiration<hr class="<%= nav5 %>"></a>
        </nav>
      </header>
